<p>Voici le prénom de la comère : <%= @array[@id.to_i].user.first_name %></p> 
<p>Voici le titre du comérage : <%= @array[@id.to_i].title %></p>
<p>Voici son contenu : <%= @array[@id.to_i].content %></p>
<p>Le gossip a été créé le <%= @array[@id.to_i].created_at %></p>