<html>
    <body>
        <h2>Pssst, jeune loulou/louloute !</h2><br>
        <p>J'aimerais connaître ton ptit nom</p>
        <p>Fais la manip ci-dessous et t'auras une surprise<br>
        <p>Tape http://localhost:3000/welcome/<i>TON_PRENOM</i>...</p>
        <h1> <%= @user %> </h1>
    </body>
        
        
</html>
