<html>
    <body>
        <h2>Hey salut, jeune loulou/louloute !</h2><br>

    <p>JOYEUX ANNIVERSAIRE <%= @user %></p>
    <p>Et encore une bougie de soufflée</p>
    <p>Et encore une année de passée</p>
    <p>Et encore une bougie de soufflée</p>
    <p>Et encore une année de passée-eh-eh-eh</p>
    <p></p>
    <p>Nous te souhaitons un joyeux anniversaire</p>
    <p>Nos voeux de bonheur profonds et sincères</p>
    <p>Beaucoup d’amour et une santé de fer</p>
    <p>Un joyeux anniversaire</p>
    <p>Nous te souhaitons un joyeux anniversaire</p>
    <p>Pour que t’aies tout bon pour l’année entière</p>
    <p>La réussite et la joie que tu espères</p>
    <p>Un joyeux anniversaire</p>
    <p></p>
    <p>Nous voici réunis ce soir</p>
    <p>Pour te dire ensemble combien on t’aime</p>
    <p>On a plein de cadeaux pour toi</p>
    <p>Bonne chance et à l’année prochaine</p>
    <p></p>
    <p>Nous te souhaitons un joyeux anniversaire</p>
    <p>Nos voeux de bonheur profonds et sincères</p>
    <p>Beaucoup d’amour et une santé de fer</p>
    <p>Un joyeux anniversaire</p>
    <p>Nous te souhaitons un joyeux anniversaire</p>
    <p>Pour que t’aies tout bon pour l’année entière</p>
    <p>La réussite et la joie que tu espères</p>
    <p>Un joyeux anniversaire</p>
    <p></p>
    <p>Ca y est</p>
    <p>T’y es</p>
    <p>Ca y est</p>
    <p>T’y es</p>
    <p></p>
    <p>Et encore une bougie de soufflée</p>
    <p>Et encore une année de passée</p>
    <p>Et encore une bougie de soufflée</p>
    <p>Et encore une année de passée-eh-eh-eh</p>
    <p></p>
    <p>Nous voici réunis ce soir</p>
    <p>Pour te dire ensemble combien on t’aime</p>
    <p>On a plein de cadeaux pour toi</p>
    <p>Bonne chance et à l’année prochaine</p>
    <p></p>
    <p>La lalala lalalalalalala... </p>

    </body>
        
        
</html>

