<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>

    <div class="container">
    <br>
    <h1>BIENVENU(E) ! </h1>
    <h2> Psst .. c'est la page des malversations !</h2>
    <br>
    </div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @all_gossips.each_with_index do |item, index| %>
        <div class="col">
          <div class="card ">
            <div class="card shadow p-3 bg-white rounded" style="">
              <div class="card-body">
                <h5 class="card-title"><%= item.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"> de <%= item.user.first_name %> avec index n°<%= index %></h6>
                <p class="card-text">Description empty</p>
                <% link = "http://localhost:3000/gossip/" + index.to_s%>
                <a href="<%= link %>" class="btn btn-primary">Lien vers le potin</a>
              </div>
            </div>
          </div>
        </div>
    <% end%>
    </div>
  </div>
  </body>
</html>