<html>
  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
  <div class="container">
    <br>
    <h1>BIENVENUE !</h1>
    <br>
    <div class="card">
      <div class="card-header">
        Voici l'identité du user n°<%= @users_id.id %>
      </div>
      <div class="card-body">

        <p class="card-text">Ville de résidence de l'auteur : <%= @cities_id.name %></p>
        <p class="card-text">Voici tous les potins de la ville associée à la commère : 
      </div>
    </div>
  </div>
  </body>

</html>