<html>
  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
  <div class="container">
    <br>
    <h1>BIENVENUE !</h1>
    <br>
    <div class="card">
      <div class="card-header">
        <p>Voici les potins associés à la ville  </p>
      </div>
      <div class="card-body">

        <p class="card-text">Ville de résidence de l'auteur : <%= @cities_id.name %></p>
        
      </div>
    </div>
  </div>
  </body>

</html>